

<% include ../partials/header.ejs %>
<div class="iphone">
<img src="../styles/images/iphone.png" />
</div>

<div class="holder">

  <div style="width: 20%; position:absolute; top:35%; left:7%">


  <form action="/phones" method="POST">
      <h1>Create a New Contact</h1>


     <div class="form-group">
     <input class='form-control' type='text' name='name' placeholder='name'>
     </div>

     <div class="form-group">
     <input class="form-control" type="text" name="contact" placeholder="contact">
     </div>
     <div class="form-group">

    <input class="form-control" type="text" name="location" placeholder="location">
    </div>
    <div class="form-group">
    <button class="btn btn-lg btn-default">Submit!</button>
    </div>

    <a href="/phones">Go back</a>


  </form>

</div>
</div>
<%# include ../partials/footer.ejs %>
