<%# entry view of our phonebook app, should be rendered on index route %>


<% include ./partials/header.ejs %>
<div class="container">
  <header class="jumbotron">
  <h1>Hello!From my phoneBook App </h1>
  </header>

  <h2><%= message %></h2>
<div class='link'>
  <p>
    <a class="btn btn-primary btn-large" href ='/phones'>create new contact & list</a>
   </p>

</div>
</div>

  <% include ./partials/footer.ejs %>

