<%# entry view of our todos app, should be rendered on index route %>


<% include ./partials/header.ejs %>
  <h1>Hello!!! From my New phonebook App </h1>
  <h2><%= message %></h2>

  <a href ='/phones'>create new contact & list</a>
  <% include ./partials/footer.ejs %>

