 <%#include ../partials/header.ejs %>

 <div class='phones'>
      <h1><%= data.name %></h1>
      <h3><%= data.contact %></h3>
      <h3><%= data.location %></h3>
    </div>


<form class="" action="/phones/<%= data.id %>?_method=PUT" method="post">

<input class="form-control" type="text" name="name" placeholder="name">
<input class="form-control" type="text" name="contact" placeholder="contact">
<input class="form-control" type="text" name="location" placeholder="location">
<button class="btn btn-lg btn-default">Edit!!</button>

</form>


<%# include ../partials/footer.ejs %>

